header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 10vh;
  background-color: #333333;
  left: 0;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  font-family: 'Montserrat', sans-serif;

}

a {
  color: #569CD6;
}