.inicio-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
.image-container {
    height: 35vh;
    width: 30vw;
    aspect-ratio: 1072/1079;
    overflow: hidden;
}

.image-container img  {
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.50);

}

.about-container {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 45vw;
}

.about-container h1 {
    font-size: 2.5rem;
    color: #569CD6;
    margin:0;
    position: relative;

}


.about-container h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #569CD6;
  margin-top: 0.75rem;
}

.about-container p {
    text-align: justify;
}