.inicio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

h1 {
    font-size: 30px;
    text-align: center;
}
.about-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-container p {
    text-align: center;
}

.about-container h1 {
    color: #569CD6;
}

.about-container h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #569CD6;
}

.image-container img  {
    height: 200px;
    width: auto;
}

@media screen and (min-width: 750px) {
.inicio-container {
    height: 100%;
    width: 100%;
    flex-direction: row;
    gap: 5vw;
}
.image-container {
    height: 35vh;
    width: 30vw;
    aspect-ratio: 1072/1079;
    overflow: hidden;
}

.image-container img  {
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.50);

}

.about-container {
    height: 35vh;
    width: 45vw;
    align-items: normal;
}

.about-container h1 {
    font-size: 2.5rem;
    margin:0;
    position: relative;

}


.about-container h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #569CD6;
  margin-top: 0.75rem;
}

.about-container p {
    text-align: justify;
    color: white;
    font-size: 18px;
}
}