
.tecnologias-container h1 {
    color:#569CD6;
    text-align: center;
}
.tecnologias-container h1:after {
   content: "";
   display: block;
   width: 100%;
   height: 3px;
   background-color: #569CD6;
   margin-top: 0.75rem;
}

 .topico-container h2 {
     margin: 0;
     color: #569CD6;
         font-size: 20px;
     text-align: center;
 }

@media screen and (max-width: 750px){
 .tecnologias-container li {
     margin-left: 30px;
 }
}

@media screen and (min-width: 750px) {

    .tecnologias-container {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 5vw
 }
 
 .tecnologias-container h1 {
     margin: 0;
     font-size: 3.5rem;
 }
 
 .topicos-container {
     display: flex;
     gap: 5vw;
 }
 
 .topico-container {
     height: 20vh;
     width: 23vw;
     padding: 1rem;
 }

 .topico-container li {
     color: white;
     font-weight: bold;
 }
}