.contato-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw
}

.contato-container h1 {
    margin: 0;
    font-size: 3.5rem;
    color:#569CD6;
    display: flex;
    flex-direction: column;
}

.contato-container h1:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #569CD6;
  margin-top: 0.75rem;
}

.contatos-container {
    display: flex;
    gap: 5vw;
    width: 100%;
    justify-content: center;
}

.contato-info {
    color: #646cff;
    background-color: #3C3C3C;
    border: 0.5rem solid #3C3C3C;
    border-radius: 0.5rem;
}

.conteudo-contato {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.conteudo-contato:after {
  content: "";
  display: block;
  width: 90%;
  height: 3px;
  background-color: #569CD6;
  margin-top: 0.75rem;
}