.qualificacoes-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw
}

.qualificacao {
    width: 40vw;
    height: 30vh;
}

.qualificacao h1 {
    font-size: 1.5rem;
    color: #569CD6;
    margin:0;
    position: relative;
}

.qualificacao-periodo {
    font-weight: bold;
}

.qualificacao-descricao {
    text-align: justify;
}