.qualificacoes-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw
}

.qualificacoes-container h1{
    margin: 0;
    font-size: 3.5rem;
    color:#569CD6;
}
.qualificacoes-container h1:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #569CD6;
  margin-top: 0.75rem;
}

.qualificacao-elementos-container {
    display: flex;
    gap: 5vw;
}

.qualificacao {
    width: 40vw;
    height: 30vh;
}

.qualificacao h1 {
    font-size: 1.5rem;
    color: #569CD6;
    margin:0;
    position: relative;
}

.qualificacao-periodo {
    font-weight: bold;
}

.qualificacao-descricao {
    text-align: justify;
}