.projetos-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw
}

.projetos-container h1 {
    margin: 0;
    font-size: 3.5rem;
    color:#569CD6;
}

.projetos-container h1:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #569CD6;
  margin-top: 0.75rem;
}

.conjunto-projetos-container {
    display: flex;
    gap: 5vw;
}

.projeto-container {
    border: 0.5rem solid #3C3C3C;
    border-radius: 1.5rem;
    height: 30vh;
    width: 40vw;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.projeto-container p {
    text-align: justify;
    font-size: 0.90rem;

}

.projeto-container h2 {
    margin: 0;
    font-size: 1.5rem;    
}

.projeto-container a {
    margin-top: auto;
    align-self: flex-end;
}